@import url("https://fonts.googleapis.com/css2?family=Onest&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Onest", sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
}

nav {
  width: 100%;
  height: 4rem;
  background-color: #001b54;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  position: fixed;
}

.navlink {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.navlink:hover {
  font-weight: bold;
}

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.fullscreenrev {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.flexrow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.full {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 20vw;
  background-color: #21bdb9;
  height: 5px;
}

.dd-title {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 3rem;
  color: #001b54;
}

.test {
  width: 100px;
  height: 100px;
}

.p100 {
  padding: 100px;
}

.p20 {
  padding: 20px;
}

.ptnav {
  padding-top: 4rem;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.offwhite {
  background-color: rgb(245,245,245);
}

/* 
Colors:
darkblue: rgb(0,27,84)
blue3: rgb(8, 67, 109)
blue2: rgb(17, 108, 135)
blue1: rgb(25, 149, 161)
blue: rgb(33,189,185)
red: rgb(211,90,58)
offwhite: rgb(245,245,245)
*/
