<?xml version="1.0" encoding="UTF-8"?>
<dashboard>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="vmbar">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="hmbar">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="stackedbar">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="stackedline">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="histo">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="donut">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="radar">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel - Single Nightingale Chart 1" title-txt-color="black" title-bg-color="white">
                <chart type="sntgale" title="Aantal deelnemers per jaar" subtitle="Op basis van jaarlijkse bevragingen" targetColumn="JAAR bevraging" showLegenda="true" legendaView="horizontal">
                    <item changedName="Het jaar 2021">2021</item>
                    <item changedName="Het jaar 2022">2022</item>
                    <item changedName="Het jaar 2020">2020</item>
                </chart>
            </section>
        </row>
    </screen>
    <!-- <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black"
    title-bg-color="white">
                <chart type="mntgale">
                </chart>
            </section>
        </row>
    </screen> -->
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="scatter">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="scatteraxis">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="scattercluster">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="heat">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="gauge">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="fillshape">
                </chart>
            </section>
        </row>
    </screen>
</dashboard>