<?xml version="1.0" encoding="UTF-8"?>
<!-- <dashboard primaryColor="#090b42" secondaryColor="#29b4cc"></dashboard> -->
<dashboard primaryColor="#0f0c69" secondaryColor="#2adbd8">
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="bar" title="Bar Chart" width="80%" height="80%" subtitle="test" targetColumn="JAAR bevraging" showLegenda="true" legendaView="horizontal">
                    <item changedName="Het jaar 2021">2021</item>
                    <item changedName="Het jaar 2022">2022</item>
                    <item changedName="Het jaar 2020">2020</item>
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="line" title="line chart" width="80%" height="80%" subtitle="test" targetColumn="JAAR bevraging" showLegenda="true" legendaView="horizontal">
                    <item changedName="Het jaar 2020">2020</item>
                    <item changedName="Het jaar 2021">2021</item>
                    <item changedName="Het jaar 2022">2022</item>
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="vmbar" title="Vertical Multiple Bar Chart" width="80%" height="80%" subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="horizontal">
                    <item changedName="Het jaar 2020">2020</item>
                    <item changedName="Het jaar 2021">2021</item>
                    <item changedName="Het jaar 2022">2022</item>
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="hmbar" title="Horizontal Multiple Bar Chart" width="80%" height="80%" subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="horizontal">
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="stackedbar" title="Stacked Bar Chart" width="80%" height="80%" subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="horizontal">
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="stackedline" title="Stacked Line Chart" width="90%" height="80%" subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="horizontal">
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="donut" title="Donut Chart" width="100%" height="100%" subtitle="test" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="horizontal">
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="radar" title="Radar Chart" width="100%" height="100%"  subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="horizontal">
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel - Single Nightingale Chart 1" title-txt-color="black" title-bg-color="white">
                <chart type="sntgale" title="Aantal deelnemers per jaar" width="100%" height="100%"  subtitle="Op basis van jaarlijkse bevragingen" targetColumn="JAAR bevraging" showLegenda="true" legendaView="horizontal">
                    <item changedName="Het jaar 2021">2021</item>
                    <item changedName="Het jaar 2022">2022</item>
                    <item changedName="Het jaar 2020">2020</item>
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black"
    title-bg-color="white">
                <chart type="mntgale" title="Radar Chart" width="100%" height="100%"  subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="horizontal">
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="scatterplot" title="Scatter plot" width="80%" height="80%"  subtitle="test" timeColumn="L1_ScoreLeefbaarheid_Omgevingsfactoren" targetColumn="L1_ScoreLeefbaarheid_Verkeersaspecten" showLegenda="true" legendaView="horizontal">
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="scatteraxis" width="100%" height="100%"  title="Scatter Axis Chart" subtitle="test" targetColumn="L1_ScoreLeefbaarheid_ThemaInrichtingvan de straat;L1_ScoreLeefbaarheid_Sociaal;L1_ScoreLeefbaarheid_Omgevingsfactoren" showLegenda="true" legendaView="horizontal" textLeft="testje" textRight="testje">
                </chart>
            </section>
        </row>
    </screen>
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="gauge" title="Gauge chart" width="80%" height="80%"  subtitle="test" targetColumn="L1_ScoreLeefbaarheid_Omgevingsfactoren" showLegenda="true" legendaView="horizontal" >
                </chart>
            </section>
        </row>
    </screen>
    <!--
    <screen
        color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="fillshape" width="80%" height="80%" >
                </chart>
            </section>
        </row>
    </screen>
    --> <screen>
        <row>
            <section width="1/1">
                <chart type="gallery" imageColumn="Afbeelding">
                </chart>
            </section>
        </row>
    </screen>
</dashboard>