<?xml version="1.0" encoding="UTF-8"?>
<dashboard primaryColor="#0000FF" secondaryColor="#FF0000">
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="vmbar" title="Vertical Multiple Bar Chart" subtitle="test" timeColumn="10. Hoe lang wil je in de straat wonen?_Clustered" targetColumn="JAAR bevraging" showLegenda="true" legendaView="vertical">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="hmbar" title="Horizontal Multiple Bar Chart" subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="vertical">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="stackedbar" title="Stacked Bar Chart" subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="vertical">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="stackedline" title="Stacked Line Chart" subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="vertical">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="histo">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="donut" title="Donut Chart" subtitle="test" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="vertical">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="radar" title="Radar Chart" subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="vertical">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel - Single Nightingale Chart 1" title-txt-color="black" title-bg-color="white">
                <chart type="sntgale" title="Aantal deelnemers per jaar" subtitle="Op basis van jaarlijkse bevragingen" targetColumn="JAAR bevraging" showLegenda="true" legendaView="horizontal">
                    <item changedName="Het jaar 2021">2021</item>
                    <item changedName="Het jaar 2022">2022</item>
                    <item changedName="Het jaar 2020">2020</item>
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black"
    title-bg-color="white">
                <chart type="mntgale" title="Radar Chart" subtitle="test" timeColumn="JAAR bevraging" targetColumn="10. Hoe lang wil je in de straat wonen?_Clustered" showLegenda="true" legendaView="vertical">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="scatterplot">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="scatteraxis" title="Scatter Axis Chart" subtitle="test" targetColumn="L1_ScoreLeefbaarheid_ThemaInrichtingvan de straat;L1_ScoreLeefbaarheid_Sociaal;L1_ScoreLeefbaarheid_Omgevingsfactoren" showLegenda="true" legendaView="vertical">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="gauge">
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 1" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel" title-txt-color="black" title-bg-color="white">
                <chart type="fillshape">
                </chart>
            </section>
        </row>
    </screen>
    <screen>
        <row>
            <section width="1/1">
                <chart type="gallery" titleColumn="TitelVerhaal" textColumn="Storyfragment (Vertel iets over je straat?)" imageColumn="Afbeelding">
                </chart>
            </section>
        </row>
    </screen>
</dashboard>