<?xml version="1.0" encoding="UTF-8"?>
<dashboard>
    <screen>
        <row>
            <section width="1/1">
                <chart type="ntgchart" title="Aantal deelnemers per jaar" subtitle="Op basis van jaarlijkse bevragingen" dataColumn="JAAR bevraging">
                </chart>
            </section>
        </row>
    </screen>
    <screen>
        <row>
            <section width="1/1">
                <chart type="ntgchart" title="Raad je het aan om in jouw straat te komen wonen?" subtitle="Op basis van 3-jaarlijkse bevraging" dataColumn="M1_Raad je het aan om in jouw straat te komen wonen?">
                </chart>
            </section>
        </row>
    </screen>
    <screen>
        <row>
            <section width="1/1">
                <chart type="ntgchart" title="Geslacht van deelnemers" subtitle="Willekeurige selectie" dataColumn="16. Geslacht">
                </chart>
            </section>
        </row>
    </screen>
    <screen>
        <row>
            <section width="1/1">
                <chart type="a" title="Test" subtitle="Test" timeColumn="M1_Raad je het aan om in jouw straat te komen wonen?" targetColumn="JAAR bevraging">
                </chart>
            </section>
        </row>
    </screen>
</dashboard>