<?xml version="1.0" encoding="UTF-8"?>
<dashboard>
    <screen>
        <row>
            <section width="1/1">
                <chart type="sntgchart" title="Aantal deelnemers per jaar" subtitle="Op basis van jaarlijkse bevragingen" targetColumn="JAAR bevraging">
                </chart>
            </section>
        </row>
    </screen>
    <screen>
        <row>
            <section width="1/1">
                <chart type="sntgchart" title="Raad je het aan om in jouw straat te komen wonen?" subtitle="Op basis van 3-jaarlijkse bevraging" targetColumn="M1_Raad je het aan om in jouw straat te komen wonen?">
                </chart>
            </section>
        </row>
    </screen>
    <screen>
        <row>
            <section width="1/2">
                <chart type="sntgchart" title="Aantal deelnemers per jaar" subtitle="Op basis van jaarlijkse bevragingen" targetColumn="JAAR bevraging">
                </chart>
            </section>
            <section width="1/2">
                <chart type="sntgchart" title="Raad je het aan om in jouw straat te komen wonen?" subtitle="Op basis van 3-jaarlijkse bevraging" targetColumn="M1_Raad je het aan om in jouw straat te komen wonen?">
                </chart>
            </section>
        </row>
    </screen>
    <screen>
        <row>
            <section width="1/1">
                <chart type="mntgchart" title="Antwoorden over de jaren" subtitle="Leefomgeving" timeColumn="JAAR bevraging" targetColumn="M1_Raad je het aan om in jouw straat te komen wonen?">
                </chart>
            </section>
        </row>
    </screen>
    <screen>
        <row>
            <section width="1/1">
                <chart type="mntgchart" title="Antwoorden over de jaren" subtitle="Leefomgeving" timeColumn="M1_Raad je het aan om in jouw straat te komen wonen?" targetColumn="JAAR bevraging">
                </chart>
            </section>
        </row>
    </screen>
</dashboard>