<?xml version="1.0" encoding="UTF-8"?>
<dashboard>
    <screen color="#EEEEEE" title="Schermtitel 2" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/2" color="#CCCCCC" title="Sectietitel - Single Nightingale Chart 1" title-txt-color="black" title-bg-color="white">
                <chart type="sntgchart" title="Aantal deelnemers per jaar" subtitle="Op basis van jaarlijkse bevragingen" targetColumn="JAAR bevraging">
                    <item displayIndex="1" legendaIndex="1" changedName="Het jaar 2020">2020</item>
                    <item displayIndex="2" legendaIndex="2" changedName="Het jaar 2021">2021</item>
                    <item displayIndex="3" legendaIndex="3" changedName="Het jaar 2022">2022</item>
                </chart>
            </section>
            <section width="1/2" color="#BBBBBB" title="Sectietitel - Single Nightingale Chart 2" title-txt-color="black" title-bg-color="white">
                <chart type="sntgchart" title="Aantal deelnemers per jaar" subtitle="Op basis van jaarlijkse bevragingen" targetColumn="JAAR bevraging">
                    <item displayIndex="3" legendaIndex="3" changedName="Eerste jaar">2020</item>
                    <item displayIndex="2" legendaIndex="2" changedName="Tweede jaar">2021</item>
                    <item displayIndex="1" legendaIndex="1" changedName="Derde jaar">2022</item>
                </chart>
            </section>
        </row>
    </screen>
    <screen color="#EEEEEE" title="Schermtitel 2" title-txt-color="black"
        title-bg-color="white">
        <row color="#DDDDDD" title="Rijtitel" title-txt-color="black" title-bg-color="white">
            <section width="1/1" color="#CCCCCC" title="Sectietitel - Multiple Nightingale Chart" title-txt-color="black" title-bg-color="white">
                <chart type="mntgchart" title="Aantal deelnemers per jaar" subtitle="Op basis van jaarlijkse bevragingen" timeColumn="JAAR bevraging" targetColumn="M1_Raad je het aan om in jouw straat te komen wonen?">
                </chart>
            </section>
        </row>
    </screen>
</dashboard>