<?xml version="1.0" encoding="UTF-8"?>
<dashboard>
  <screen>
    <row>
      <ntgchart></ntgchart>
      <ntgchart></ntgchart>
    </row>
  </screen>
  <screen>
    <row>
      <ntgchart></ntgchart>
      <ntgchart></ntgchart>
    </row>
  </screen>
  <screen>
    <row>
      <ntgchart></ntgchart>
      <ntgchart></ntgchart>
    </row>
  </screen>
</dashboard>